<div class="content-item">
    <h2>Recipes</h2>
    <% @recipes.each do |recipe| %>
        <%= link_to recipe.name, recipe_path(recipe) %>:<%= recipe.recipe_type %><%= recipe.description %><br/>
    <% end %>
</div>