<%= render partial: 'layouts/content_page_subtitle', locals: {subtitle: "Add a recipe"} %>
<div class="content-item form-container">
    <%= render partial: 'form', locals: {recipe: @recipe, user_id: current_user.id} %>
</div>