<div class="content-item content-container">
    <h2><%= @recipe.name %></h2>
    <h3>Ingredients</h3>
        <%= @recipe.list_ingredients %>
    <h3>Instructions</h3>
    <ol>
        <% @recipe.list_instructions.each do |instruction| %>
            <li><%= instruction %></li>
        <% end %>
    </ol>
</div>