<h2 class="content-header">User profile</h2>
<div class="content-container">
    <div class="content-item">
        <h3>Account information</h3>
        <strong>Email:</strong> <%= @user.email %><br/>
        <strong>Name:</strong> <%= @user.name %><br/>
        <strong>Joined:</strong> <%= @user.joined_date %><br/>
        <strong>User for:</strong> <%= @user.user_years %>
    </div>
    <div class="content-item">
        <h3>Recipe information</h3>

    </div>
</div>