<%= render partial: 'layouts/content_page_subtitle', locals: {subtitle: "About"} %>
<div class="content-item content-container">
    <div class="content-item">
        <p>I have been a vegetarian since about the age of 6 or 7 years old. mOm wanted to reduce the family exposure to the hormones that industry had begun giving to animals and it was fun to be a kid on a school trip asking for "virgin cheeseburgers" (the looks we got!).</p>
        <p>My late mOm used to sign off her emails, which were almost always recipes I was asking for, with "Njoy". I think she would appreciate that I have finally learned to cook and that I "Njoy" making food for myself and don't simply settle for nuking a veggie burger.</p>
    </div>
    <div class="content-item">
        <%= image_tag "mom-kko-2000.jpg" %>
    </div>
</div>