<%= render partial: 'layouts/content_page_subtitle', locals: {subtitle: "Veggie are delicious!"} %>
<div class="content-item content-container">
    <div class="content-item">
        <p>Eating your veggies doesn't have to be a chore! Enjoy a tasty, filling veggie recipe. Your health will thank you and your stomach will be full!</p>
    </div>
    <div class="content-item">
        <%= image_tag "colorful-veg-reduced.jpg" %>
    </div>
</div>