form {
    background-color: violet;
    width: 50%;
    margin: 0 auto;
    padding: 2rem;
}

form input[type=email] {
    background-color: fuchsia;
    padding: 0.5rem;
    width: 75%;
}

form input[type=submit] {
    /* background-color: grey;
    border: none; */
    background-color: grey;
    border: 1px solid black;
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}