.form-container {
    /* background-color: violet; */
    background-color: #FFD5FF;
    width: 45%;
    margin: 0 auto;
    padding: 1rem;
}

form 
    input[type=email], 
    input[type=password],
    input[type=text] {
    /* background-color: fuchsia; */
    background-color: #FF99FF;
    padding: 0.5rem;
    width: 95%;
}

form input[type=submit] {
    background-color: grey;
    border: 1px solid #000;
    color: #fff;
    padding: 1rem 2rem;
    text-decoration: none;
    cursor: pointer;
    margin-top: 1rem;
    width: 98%;
}

form div {
    margin-bottom: 1rem;
}

.field_with_errors > input[type=email],
.field_with_errors > input[type=password],
.field_with_errors > input[type=text] {
    background-color: yellow;
}