html {
    background-color: greenyellow;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0 auto;
}

.main {
    display: flex;
    width: 100vw;
    flex-flow: row nowrap;
}

.page-header {
    /* Photo by <a href="https://unsplash.com/@essntlsm_1?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Leonie Vreden</a> on <a href="https://unsplash.com/s/photos/vegetable?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
    /* original: https://unsplash.com/photos/l8RACf3Ta4M */
    background-image: url("cabbage-crop-2.jpg");
    background-color: #fff; 
    height: 25vh; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.page-header h1 {
    font-family: 'Over the Rainbow', cursive;
    margin: 0;
    padding: 0;
    text-align: center;
}

.page-header h1 a:link {
    text-decoration: none;
}

.page-header h1 a:hover {
    text-decoration: underline;
}
  
.page-header h1 a:visited {
    color: #000;
    text-decoration: none;
}

nav {
    text-align: center;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    font-size: 1.125rem;
    padding: 0.5rem 0;
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
}

.navlink a {
    display: block;
    width: 5rem;
    margin: 0 1rem;
    color: grey;
    text-decoration: none;
}

.navlink a:hover {
    text-decoration: underline;
}
  
.navlink a:visited {
    color: grey;
    text-decoration: none;
}

.content {
    height: 55vh;
    width: 95%;
    background-color: fuchsia;
    margin: 1rem auto;
    padding: 1rem 1rem;
}

.content-header {
    text-align: center;
}

footer {
    height: 5vh;
    text-align: center;
    background-color: #fff;
    border-top: 2px solid grey;
    margin: 0 auto;
    font-size: 0.75rem;
}