$base-color-page: greenyellow;
$base-color-container: fuchsia;
$base-color-content: violet;
$error-color-highlight: darkmagenta;

html {
    background-color: $base-color-page;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0 auto;
}

.main {
    display: flex;
    width: 100vw;
    flex-flow: row nowrap;
}

.page-header {
    background-image: url("cabbage-crop-2.jpg");
    background-color: #fff; 
    height: 25vh; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.page-header h1 {
    font-family: 'Over the Rainbow', cursive;
    margin: 0;
    padding: 0;
    text-align: center;
}

.page-header h1 a:link {
    text-decoration: none;
}

.page-header h1 a:hover {
    text-decoration: underline;
}
  
.page-header h1 a:visited {
    color: #000;
    text-decoration: none;
}

nav {
    text-align: center;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    font-size: 1.125rem;
    padding: 0.5rem 0;
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
}

.navlink a {
    display: block;
    width: 5rem;
    margin: 0 1rem;
    color: grey;
    text-decoration: none;
}

.navlink a:hover {
    text-decoration: underline;
}
  
.navlink a:visited {
    color: grey;
    text-decoration: none;
}

.content {
    height: 55vh;
    width: 95%;
    background-color: $base-color-container;
    margin: 1rem auto;
    padding: 1rem 1rem;
    overflow: auto;
}

.content-header {
    text-align: center;
    font-family: 'Over the Rainbow', cursive;
}

.content-item {
    margin: 0 auto;
}

.content-container {
    width: 55%;
    margin: 0 auto;
    padding: 1rem;
    background-color: $base-color-content;
    display: flex;
    flex-flow: row wrap;
}

.recipe-container {
    width: 55%;
    margin: 0 auto;
    padding: 1rem;
    background-color: $base-color-content;  
}

footer {
    height: 5vh;
    text-align: center;
    background-color: #fff;
    border-top: 2px solid grey;
    margin: 0 auto;
    font-size: 0.75rem;
}

.required-input {
    color: $error-color-highlight;
    font-size: 1.25rem;
    font-weight: bolder;
}

.err-msg {
    font-size: 0.75rem;
    color: $error-color-highlight;
}