html {
    background-color: greenyellow;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0 auto;
}

.page-header {
    
}

.page-header h1 {
    font-family: 'Over the Rainbow', cursive;
    margin: 0;
    padding: 1rem;
    text-align: center;
}