html {
    background-color: greenyellow;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0 auto;
}

.main {
    display: flex;
    max-width: 100vw;
    flex-flow: row nowrap;
}

.page-header {
    /* Photo by <a href="https://unsplash.com/@essntlsm_1?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Leonie Vreden</a> on <a href="https://unsplash.com/s/photos/vegetable?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
    /* original: https://unsplash.com/photos/l8RACf3Ta4M */
    border-bottom: 2px solid grey;
    background-image: url("cabbage-crop-2.jpg");
    background-color: #fff; 
    height: 20vh; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.page-header h1 {
    font-family: 'Over the Rainbow', cursive;
    margin: 0;
    padding: 1rem;
    text-align: center;
}

.page-header h1 a:link {
    text-decoration: none;
}

.page-header h1 a:hover {
    text-decoration: underline;
}

.page-header h1 a:active {
    color: #fff;
    text-decoration: underline;
  }
  
.page-header h1 a:visited {
    color: #000;
    text-decoration: none;
}

.content {
    height:  70vh;
}

footer {
    height: 7vh;
    text-align: center;
    background-color: #fff;
    border-top: 2px solid grey;
    margin: 0 auto;
}